@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1478575899621'); /* IE9*/
    src: url('iconfont.eot?t=1478575899621#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff?t=1478575899621') format('woff'), /* chrome, firefox */ url('iconfont.ttf?t=1478575899621') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont.svg?t=1478575899621#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont, .iconfont-small, .iconfont-middle, .iconfont-platform {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-small {
    font-size: 14px;
}

.iconfont-middle {
    font-size: 22px;
}

.iconfont-platform {
    margin:5px;
    font-size: 28px;
}

.icon-ref:before { content: "\e60f"; }

.icon-weixin:before { content: "\e650"; }

.icon-settings:before { content: "\e614"; }

.icon-share:before { content: "\e60c"; }

.icon-up:before { content: "\e609"; }

.icon-comment:before { content: "\e60b"; }

.icon-qq:before { content: "\e611"; }

.icon-down:before { content: "\e60a"; }

.icon-invite-register:before { content: "\e608"; }

.icon-weibo:before { content: "\e610"; }

.icon-logout:before { content: "\e606"; }

.icon-mine:before { content: "\e607"; }

.icon-message:before { content: "\e601"; }

.icon-collect:before { content: "\e602"; }

.icon-follow:before { content: "\e603"; }

.icon-invite:before { content: "\e604"; }

.icon-act:before { content: "\e605"; }

.icon-hand-up:before { content: "\e60e"; }

.icon-follow-plus:before { content: "\e60d"; }

.icon-report:before { content: "\e612"; }

.icon-hand-down:before { content: "\e613"; }
