html, body {
    height: 100%;
    width: 100%;
    overflow: hidden
}

#particles {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.intro {
    position: absolute;
    left: 0;
    top: 15%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

.platform-link, .platform-link:hover, .platform-link:focus {
    color: #555;
    text-decoration: none;
}
